---
layout: layout
---

<!-- About Page Content -->
<div class="container">
    <div class="row">
        <div class="layout-container about-content">
            
            <!-- Page Body -->
            <%- page.content %>

            <!-- Comments Section -->
            <% if(page.comments && config['disqus_username']) { %>
                <hr style="margin-top: 60px;">
                <div class="comment">
                    <div id="disqus_thread" class="disqus-thread" data-disqus-identifier="<%= page.permalink %>" data-disqus-url="<%= page.permalink %>"></div>
                </div>
            <% } %>

        </div>
    </div>
</div>
