---
layout: layout
---

<!-- About Page Content -->
<div class="container">
    <div class="row">
        <div class="layout-container about-content">
            
            <!-- Page Body -->
            <%- page.content %>

            <!-- Comments Section -->
            <% if(page.comments && config['disqus_username']) { %>
                <hr style="margin-top: 60px;">
                <div class="comment">
                    <div id="disqus_thread" class="disqus-thread"></div>
                </div>
                
                <script type="text/javascript">
                    var disqus_shortname = "<%= config['disqus_username'] %>";
                    var disqus_identifier = "<%= page.permalink %>";
                    var disqus_url = "<%= page.permalink %>";

                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
            <% } %>

        </div>
    </div>
</div>

<style>
    .about-content {
        padding-top: 40px;
        padding-bottom: 80px;
    }
    /* 自定义 About 页面的正文排版，使其更纯净 */
    .about-content p {
        font-size: 16px;
        line-height: 1.8;
        color: #444;
        margin-bottom: 1.5em;
    }
</style>
